BasedOnStyle: LLVM
Language: Java
AllowShortIfStatementsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BreakBeforeBinaryOperators: false
MaxEmptyLinesToKeep: 1
IndentCaseLabels: false
AlignTrailingComments: true
BreakBeforeBraces: Allman
ColumnLimit: 0
AlwaysBreakBeforeMultilineStrings: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpacesInContainerLiterals: true
SpacesInParentheses: false
PenaltyBreakString: 99999
TabWidth: 4
UseTab: Never